audioread==3.0.1
Bottleneck @ file:///C:/b/abs_f05kqh7yvj/croot/bottleneck_1707864273291/work
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
contourpy @ file:///C:/b/abs_853rfy8zse/croot/contourpy_1700583617587/work
coverage==5.5
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
decorator==5.1.1
deprecation==2.1.0
eyed3==0.9.7
filetype==1.2.0
fonttools==4.25.0
idna==3.7
joblib @ file:///C:/b/abs_1anqjntpan/croot/joblib_1685113317150/work
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
lazy_loader==0.4
librosa==0.10.1
lightgbm==4.3.0
llvmlite==0.42.0
matplotlib @ file:///C:/b/abs_e26vnvd5s1/croot/matplotlib-suite_1698692153288/work
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
msgpack==1.0.8
munkres==1.1.4
numba==0.59.1
numexpr @ file:///C:/b/abs_5fucrty5dc/croot/numexpr_1696515448831/work
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp310-cp310-win_amd64.whl#sha256=ebb5aa2b36d8afa5ec3231c19e5a1fc75b6d85e7db483f0fb9e77dad58469977
packaging @ file:///C:/b/abs_cc1h2xfosn/croot/packaging_1710807447479/work
pandas @ file:///C:/b/abs_3awk0iw2ab/croot/pandas_1709590545218/work/dist/pandas-2.2.1-cp310-cp310-win_amd64.whl#sha256=67ccea55bf70e6c1584e553f44140c496fc3257b6a541afaf3c5855f4b9785f9
pillow @ file:///C:/b/abs_e22m71t0cb/croot/pillow_1707233126420/work
-e git+https://github.com/alvaro-francisco-gil/Plant-Reactivity-Analysis.git@a9537c1ef39f78808facc2024bcc6fce85354a2f#egg=PlantReactivityAnalysis
platformdirs==4.2.0
ply==3.11
pooch==1.8.1
pyAudioAnalysis==0.3.14
pycparser==2.22
pydub==0.25.1
pyparsing @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_7f_7lba6rl/croots/recipe/pyparsing_1661452540662/work
PyQt5==5.15.10
PyQt5-sip @ file:///C:/b/abs_c0pi2mimq3/croot/pyqt-split_1698769125270/work/pyqt_sip
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///C:/b/abs_19q3ljkez4/croot/pytz_1695131651401/work
requests==2.31.0
scikit-learn @ file:///C:/b/abs_daon7wm2p4/croot/scikit-learn_1694788586973/work
scipy @ file:///C:/b/abs_86x0wu5rr1/croot/scipy_1710947370784/work/dist/scipy-1.12.0-cp310-cp310-win_amd64.whl#sha256=da0b69fd1a9de951e3d17b95f445cdb94fa72ce78af8e0cb272edead53fcb78b
seaborn @ file:///C:/b/abs_68ltdkoyoo/croot/seaborn_1673479199997/work
sip @ file:///C:/b/abs_edevan3fce/croot/sip_1698675983372/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
soundfile==0.12.1
soxr==0.3.7
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
toml==0.10.2
tomli @ file:///C:/Windows/TEMP/abs_ac109f85-a7b3-4b4d-bcfd-52622eceddf0hy332ojo/croots/recipe/tomli_1657175513137/work
tornado @ file:///C:/b/abs_0cbrstidzg/croot/tornado_1696937003724/work
tqdm==4.66.2
typing_extensions==4.11.0
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3==2.2.1
